.my-navbar{
    background-color: $c-1;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: rgb(99, 94, 94);
}
.nav-link.active{
    background-color: $c-footer;
    border-radius: 15%;
    display: inline-block;
}
.nav-link:hover{
    transform: scale(1.15);
}
